We hope revision is going well. We are sorry you decided not to join us yet.

Pass the MRCS strives to be the best resource anywhere for the MRCS OSCE, and we’re continually adding new content and features to make it even better.

Please let us know why you decided to not join. If there are payment challenges then please let us know and we'll try to help.

Remember, we offer a guarantee that if you don't pass first time then we'll renew your membership for free.

Finally, if you haven't done so yet, please try the sample questions on the Trail Stations page.

Best of luck in your revision

Manoj Ramachandran and the team
= link_to "www.passthemrcs.co.uk", "https://www.passthemrcs.co.uk"

%p 
  %b We rely on word of mouth and offer over 200 stations and 3000 OSCE questions
%p 
  %b If you don't pass first time we'll renew your membership for free
%p 
  %b Members get unlimited access to Acland's anatomy for free
%p 
  The security of your data is one of our greatest priorities. That is why we put extra effort into ensuring your data is always safe and up to date. Contact us if you want to change your personal information or if you want us to remove it completely from our database.