!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %div
      %p
        Thank you for registering with Pass the MRCS, we’re glad you’ve decided to join us. We’re a small team of surgeons dedicated to your success in the MRCS OSCE. If you’ve heard about us from a friend, please thank them – we rely on word of mouth rather than a fancy marketing campaign.

      %p
        The site consists of 200+ mock OSCE stations that aim to reflect the experience you will have on exam day. Key information on commonly examined topics, station mark schemes, advice on how to approach questions and free access to Acland’s 3D Anatomy videos will give you the best chance of success.

      %h3 Does it help you pass the MRCS?

      %p
        Well, we think so - that’s specifically what it has been designed for - and so do our members. We’ve been lucky enough to have numerous people write in thanking us and telling us of their success.

      %p
        Importantly, the site comes with a guarantee that if you do not pass first time we will renew your membership for free.
      %p
        Additionally, we’re certain you’ll like the site and offer a 100% refund if you ask to cancel your membership within 48h of joining.
      %p
        We hope that you have decided to join us.

      %p Good luck in the exam!

      %p Manoj Ramachandran and the team
      %p= link_to "www.passthemrcs.co.uk", "https://www.passthemrcs.co.uk"

      %p n.b. If you did not complete your payment during your initial sign up but now want to, please reply to this email. We'll help you complete the payment, so that you can access the full content (200+ stations and 3000+ questions).

      %p 
        %b We rely on word of mouth and offer over 200 stations and 3000 OSCE questions
      %p 
        %b If you don't pass first time we'll renew your membership for free
      %p 
        %b Members get unlimited access to Acland's anatomy for free
      %p 
        The security of your data is one of our greatest priorities. That is why we put extra effort into ensuring your data is always safe and up to date. <a href="mailto:contact@passthemrcs.co.uk">Contact us</a> if you want to change your personal information or if you want us to remove it completely from our database.