%p To reset your password please click the link below 
%b
= edit_password_reset_url(@user.password_reset_token)

%p 
  %b We rely on word of mouth and offer over 200 stations and 3000 OSCE questions
%p 
  %b If you don't pass first time we'll renew your membership for free
%p 
  %b Members get unlimited access to Acland's anatomy for free
%p 
  %i
    The security of your data is one of our greatest priorities. That is why we put extra effort into ensuring your data is always safe and up to date. <a href="mailto:contact@passthemrcs.co.uk">Contact us</a> if you want to change your personal information or if you want us to remove it completely from our database.


