<%= form_for [commentable, Comment.new] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control", placeholder: "Add a comment" %>
  </div>
  <%= f.submit "Add Comment",class: "btn join_btn admin-submit-btn" %>
<% end %>
