%section.organic-breadcrumb
  .container
    .breadcrumb-banner.d-flex.flex-wrap.align-items-center.justify-content-end
      .col-first
        %h1 PAYMENT SUCCESSFUL

.row
  .order-place-inner
    %span.tick-icon
      %i.material-icons check
    %h2 Congratulations!
    %p Your account is now active. Visit HOME to use the site.
