<div class="modal fade" id="course-modala" role="dialog">
  <div class="modal-dialog" style="margin-top: 10%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close " data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= @course.title.html_safe %></h4>
      </div>
      <div class="modal-body" style="overflow-x: auto; max-height: 300px;">
        <p><%= @course.description.html_safe %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="pop_up_close_btn pop_up_btn" data-dismiss="modal">Close</button>
      </div>
    </div>  
  </div>
</div>