<!-- Start Banner Area -->
<section class="organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>Mock Exams</h1>
        <!--<nav class="d-flex align-items-center">-->
        <!--	<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>-->
        <!--	<a href="#">Signup</a>-->
        <!--</nav>-->
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->
<!-------setting start here------->
<section class="how-it-works pt-100 pb-50" id="how-it-works">
  <div class="container">
    <div class="row">
      <div class="how-it-work-in">
        <h3>Review us</h3>
        <div class="video-howitwork">
          <p>
            Closer to the exam you need to practice the various skills in the
            same way they will be tested in the OSCE. It can be difficult to move
            from an anatomy station straight to a communication station where the
            focus is completely different.
          </p>
          <p>
            Here we present our stations in the format you will experience on the
    day. Work your way through the 18 stations and make sure you are
    scoring the majority of the marks. Identify your weaknesses and return
    to that section to revise it and perhaps practice those stations again
    with a friend. Remember this is a verbal exam, testing your ability to
    get the information out, rather than how many facts you can get in,
    therefore for each station, say your own answer out loud before
    clicking on to the answer to check if you've got it right.
          </p>
          <p>Good luck!</p>
        </div>      
       <%= link_to "Start a new exam", new_exam_path, class: "btn btn-warning btn-large"%>
      </div>
    </div>
  </div>
</section>
<!-------setting ends here-------->
<script type="text/javascript">
  $(document).ready(function(){
    $('ul.nav li.active').removeClass('active');
    $('li#exams').addClass('active')
  })
</script>