<section class="organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1><%= @parta_info.heading_info.html_safe rescue nil %></h1>
        <nav >
          <div>
        	<a><%= @parta_info.body_info.html_safe rescue nil %>
          </a>
        </div>
       </nav>
      </div>
    </div>
  </div>
</section>


<section class="faq" style="background-color: white;">
  <div class="container">
  </div>
</section>