.page-header
  %h1 Terms and Conditions

.row
  .span12
    %p This page (together with any documents referred to on it) tells you the terms of use (“Terms”) on which you may make use of our website (“Site”), whether as a guest or a registered user (“You”). Please read these Terms carefully before You start to use the Site. By using our Site, You indicate that You accept these Terms and that You agree to abide by them. If You do not agree to these Terms, please refrain from using our Site.

    %h6 INFORMATION ABOUT US
    %p Pass the MRCS is a site operated by EduSurg LTD (“We”). We are a limited liability company registered in England and Wales under company number 08003784 and have our registered office at 8B Nottingham Place, London, W1U5NB. Our main trading address is 8B Nottingham Place, London, W1U5NB.
    %p We provide an online membership service as part of our online services (“Services”). Our Site and the Services may consists of text, illustrations, photographs, graphics, artwork, video or audio sequences, sounds, music, trademarks, logos and computer code (collectively known as “Material”) that may be not be downloaded and / or transferred to a computer and / or any other device compatible with such files. These Terms govern the use of our Site and the use of the Services and Materials.

    %h6 YOUR INFORMATION
    %p We do not store credit card details nor do we share customer details with any 3rd parties.

    %h6 ACCESSING OUR SITE AND USE OF THE SERVICE
    %p Access to our Site and use of the Services is permitted on a temporary basis, and We reserve the right to withdraw or amend the Services We provide on our Site without notice (see below). We will not be liable if for any reason our Site or any Service is unavailable at any time or for any period.
    %p From time to time, We may restrict access to some parts of our Site, or our entire Site, or any of the Services to guests and to registered users.
    %p If You choose, or You are provided with, a user identification code, password or any other piece of information as part of our security procedures, You must treat such information as confidential, and You must not disclose it to any third party. We have the right to disable any user identification code or password, whether chosen by You or allocated by us, at any time, if in our opinion You have failed to comply with any of the provisions of these Terms.
    %p You are responsible for making all arrangements necessary for You to have access to our Site and / or the Services. You are also responsible for ensuring that all persons who access our Site and / or the Services through your internet connection are aware of these Terms, and that they comply with them.

    %h6 REFUNDS
    %p We offer a full refund if a request for cancellation is made within 48 hours of purchase. After this time no refund will be made.

    %h6 INTELLECTUAL PROPERTY RIGHTS
    %p We are the owner or the licensee of all intellectual property rights in our Site and in the Services, and in the Material published on our Site and in the Services. Those works are protected by copyright and trademark laws and treaties around the world. All such rights are reserved.
    %p You may print off one copy of any page, and may download or transfer extracts from any pages, or download or transfer any Service or an extract from any Service, from our Site for your personal reference and You may draw the attention of others within your organisation to Material posted and available on our Site and in the Services.
    %p You must not modify the paper or digital copies of any Materials You have printed off or downloaded or transferred in any way, and You must not use any Materials separately from any other accompanying Materials.
    %p Our status (and that of any identified contributors) as the authors of Material on our Site must always be acknowledged.
    %p You must not use, reproduce, modify, republish, distribute, transmit, upload or publicity display any part of the Materials on our Site for commercial purposes without obtaining a licence to do so from us or our licensors.
    %p If You print off, copy, download or transfer any part of our Site, Services or Materials in breach of these Terms, your right to use our Site and the Services will cease immediately and You must, at our option, return or destroy any copies of the Materials You have made.
    %p Your retain the copyright to any personal notes that you write onto our system and may ask for us to remove one or all of them at any time, free of charge.

    %h6 RELIANCE ON INFORMATION POSTED
    %p Commentary and other Materials posted on our Site and provided in the Services are not intended to amount to advice on which reliance should be placed. We therefore disclaim all liability and responsibility arising from any reliance placed on such Materials by any visitor to our Site or user of our Services, or by anyone who may be informed of any of their contents. You assume total responsibility for your use of the Site and any linked sites.

    %h6 OUR SITE CHANGES REGULARLY
    %p We aim to update our Site regularly, and may change the content at any time. If the need arises, We may suspend access to our Site and to the Services, or close our Site indefinitely. Any of the Material on our Site and in the Services may be out of date at any given time, and We are under no obligation to update such Material.

    %h6 OUR LIABILITY
    %p The Material displayed on our Site and used in the Services is provided without any guarantees, conditions or warranties as to its accuracy. To the extent permitted by law, We, other members of our group of companies and third parties connected to us hereby expressly exclude:
    %p All conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity.
    %p Any liability for any direct, indirect or consequential loss or damage incurred by any user in connection with our Site, the Services or the Materials or in connection with the use, inability to use, or results of the use of our Site, the Services or the Materials, or any websites linked to our Site, Services or Materials and any materials posted on our Site or provided in the Services, including, without limitation any liability for:
    %ul
      %li loss of income or revenue;
      %li loss of business;
      %li loss of profits or contracts;
      %li loss of anticipated savings;
      %li loss of data;
      %li loss of goodwill;
      %li
        wasted management or office time; and
        for any other loss or damage of any kind, however arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable.

    %p This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.

    %h6 INDEMNITY

    %p You agree to indemnify and hold us, our officers, directors, shareholders, predecessors, successors in interest, employees, agents, subsidiaries and affiliates, harmless from any demands, loss, liability, claims or expenses (including legal fees), made against us by any third party due to or arising out of or in connection with your use of our Site, Services or Materials.

    %h6 VIRUSES, HACKING AND OTHER OFFENCES
    %p You must not misuse our Site, Services or Materials by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our Site, Services or Materials, the server on which our Site is stored or any server, computer or database connected to our Site. You must not attack our Site via a denial-of-service attack or a distributed denial-of service attack.
    %p By breaching this provision, You would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and We will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our Site, the Services and any Material will cease immediately.
    %p We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our Site, Services or Materials or your downloading or transferring of any Material posted on our Site or provided in our Services or on any website linked to it.

    %h6 LINKING TO OUR SITE
    %p You may link to our home page, provided You do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.
    %p You must not establish a link from any website that is not owned by you.
    %p Our Site must not be framed on any other site, nor may You create a link to any part of our Site other than the home page. We reserve the right to withdraw linking permission without notice.
    %p If You wish to make any use of Material on our Site other than that set out above, please contact us through our contact page.

    %h6 LINKS FROM OUR SITE
    %p Where our Site contains links to other sites and resources provided by third parties, these links are provided for your information only. We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them.

    %h6 JURISDICTION AND APPLICABLE LAW
    %p The English courts will have exclusive jurisdiction over any claim arising from, or related to, a visit to our Site although We retain the right to bring proceedings against You for breach of these conditions in your country of residence or any other relevant country.

    %p These Terms and any dispute or claim arising out of or in connection with them or their subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with the law of England and Wales.

    %h6 TRADE MARKS
    %p PASSTHEMRCS TM is a trade mark of EduSurg Ltd.

    %h6 VARIATIONS
    %p We may revise these Terms at any time by amending this page. You are expected to check this page from time to time to take notice of any changes We made, as they are binding on you. Some of the provisions contained in these Terms may also be superseded by provisions or notices published elsewhere on our Site.

    %h6 YOUR CONCERNS
    %p If You have any concerns about Material which appears on our Site, please contact us at contact@passthemrcs.co.uk or passthemrcs@gmail.com or via post at 8B Nottingham Place, London, W1U5NB.
    %p Thank You for visiting our Site.

