<section class="organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1><%= @full_term_condition.title rescue nil %></h1>
                </div>
            </div>
        </div>
    </section>
<section class="faq" style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="bs-example">
        <div class="accordion" id="accordionExample">
            <div class="card">
              <%= @full_term_condition.description.html_safe rescue nil %>
            </div>
        </div>    
      </div>
    </div>
  </div>
</section>