<div class="pager">
  <div class="digg_pagination pagination">
    <%= will_paginate all_data %>
  </div>
</div><br/>
<div class="row justify-content-center align-items-center">
  <div class="page_info">
    <center><%= page_entries_info all_data, :entry_name => 'item' %></center>
  </div>
</div><br/>
