.hero-unit{style: "padding-top: 22px; padding-bottom: 39px;"}
	%h1=@category.name

.row-fluid
	.span12
		#station_selector{style: "float: right;"}
			.btn-toolbar
				.btn-group
					%button.btn.btn-primary.dropdown-toggle#stations_selector{data: {toggle: "dropdown"}, href: "#"}
						Stations
						%span.caret
					%ul.dropdown-menu
						- @stations.each do |station|
							%li= link_to station.title, station_path(station)
				.btn-group
					%button.btn.btn-primary.dropdown-toggle#categories_selector{data: {toggle: "dropdown"}, href: "#"}
						Categories
						%span.caret					
					%ul.dropdown-menu
						- @categories.each do |category|
							%li= link_to category.name, category_path(category)
			

.row-fluid
	.span12
		#category_advice
			= @category.advice.html_safe

.row-fluid
	.span12
		= render partial: "/shared/station", locals: {stations: @stations}