<!-- Modal Pop for Cancel membership-->
<div class="modal fade" id="cancelMembershipModal" tabindex="-1" role="dialog" aria-labelledby="cancelMembershipModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body mt-3">
        <h3 class="text-center">Are you sure do you want to cancel your membership plan?</h3>
      </div>
      <div class="text-center pb-3 mb-3">
        <button type="button" class="btn btn-secondary border" data-dismiss="modal">Close</button>
        <a type="button" class="btn btn-primary border-0" href="<%=cancel_membership_path %>" style="color: #f8f8f9;">
          Save changes    
        </a>
      </div>
    </div>
  </div>
</div>
